<mat-card>
  <mat-card-title>Форма регистрации</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="checkUser()">
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput formControlName="login">
        <mat-error *ngIf="form.get('login').invalid">Введите корректный логин!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="form.get('password').invalid">Введите корректный пароль!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="surname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email').invalid">Введите корректный email!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input matInput [matDatepicker]="picker" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" disabled="false"></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Зарегистрироваться</button>
    </form>
  </mat-card-content>
</mat-card>
